#slideshow{
	width: 100% !important;
    position: relative !important;
    padding-bottom: 67% !important;
    min-height: 150px !important;
    background-color: #D8D8D8 !important;
}


	div#slideshow ul#nav {
		display: none;
		list-style: none;
		position: relative; top: 210px; z-index: 15;
	}
		div#slideshow ul#nav li#prev {
			float: left; margin: 0 0 0 40px;
		}
		div#slideshow ul#nav li#next {
			float: right; margin: 0 50px 0 0;
		}
		div#slideshow ul#nav li a {
			display: block; width: 80px; height: 80px; text-indent: -9999px;
		}
			div#slideshow ul#nav li#prev a {
				background: url(images/prev.png);
			}
			div#slideshow ul#nav li#next a {
				background: url(images/next.png);
			}

	div#slideshow ul#slides {
		list-style: none;
	}
		div#slideshow ul#slides li {
			margin: 0 0 20px 0;
		}

a {outline: none; }

.ec-stars-wrapper {
  /* Espacio entre los inline-block (los hijos, los `a`) */
    font-size: 0;
    /* Podríamos quitarlo, pero de esta manera (siempre que no le demos padding), sólo aplicará la regla .ec-stars-wrapper:hover a cuando también se esté haciendo hover a alguna estrella */
    display: inline-block;

    a {
      text-decoration: none;
      display: inline-block;
      /* Volver a dar tamaño al texto */
      font-size: 32px;
      font-size: 2rem;
    
      color: #229786;
      @include transition(text-shadow .5s ease);
      text-shadow: 0 0 0 rgba(0,0,0,.3);
    }

    &:hover a {
      color: rgb(39, 130, 228);
      text-shadow: .1em .1em .2em rgba(0,0,0,.3);
    }
    /*
     * El selector de hijo, es necesario para aumentar la especifidad
     */
    & > a:hover ~ a {
      color: #888;
      text-shadow: none;
    }
}
   